ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  opacity: .6;
}

li {
  float: left;
  width: 180px;
  height: 40px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
  margin-right: 2px;
}

body {
  font-family: Arial;
  padding: 10px;
  background-image: url("nature.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  text-align: center;
  text-decoration: underline;
  color: white;
  font-size: 60px;
}

p{
  text-align: center;
  color: white;
  font-size: 30px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}